.section-padding{
    padding-top: 80px;
    padding-bottom: 0px;
}

.about-us-title{
    font-size: 36px;
    margin-bottom: 5px;
}

.about-us-title-underline{
    width: 70px;
    height: 3px;
    background-color: #fc6060;
    margin-bottom: 30px;
}

.about-video-area img {
    border-radius: 10px;
    box-shadow: 3px 0px 24px rgba(0,0,0,0.15);
}

.mb-80{
    margin-bottom: 80px;
}

.section-heading{
    margin-bottom: 50px;
}

.why-choose-us-content{
    background-color: #fff;
    padding: 80px 30px 50px;
    border-radius:10px ;
    box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}

.why-choose-us-content h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500 !important;
}

.why-choose-us-content p{
    margin-bottom: 0;
    font-size: 14px;
    color: #636363;
}

.why-choose-us-content:hover{
    background-color: #fc6060;
}

.why-choose-us-content:hover h4,
.why-choose-us-content:hover p {
    color: #fff !important;
}

 
.why-choose-us-content .choose-us-icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fc6060;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    transition: 0.4s ease-out;
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose-us-content:hover .choose-us-icon{
    background-color: #000000;
    box-shadow: 0 5px 15px 2px rgba(255, 255, 255, 0.15);
 }