.section-padding{
    padding-top: 80px;
    padding-bottom: 0px;
}

.about-us-title{
    font-size: 36px;
    margin-bottom: 5px;
}

.about-us-title-underline{
    width: 70px;
    height: 3px;
    background-color: #fc6060;
    margin-bottom: 30px;
}

.about-video-area img {
    border-radius: 10px;
    box-shadow: 3px 0px 24px rgba(0,0,0,0.15);
}

.mb-80{
    margin-bottom: 80px;
}

.section-heading{
    margin-bottom: 50px;
}

.why-choose-us-content{
    background-color: #fff;
    padding: 80px 30px 50px;
    border-radius:10px ;
    box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}

.why-choose-us-content h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500 !important;
}

.why-choose-us-content p{
    margin-bottom: 0;
    font-size: 14px;
    color: #636363;
}

.why-choose-us-content:hover{
    background-color: #fc6060;
}

.why-choose-us-content:hover h4,
.why-choose-us-content:hover p {
    color: #fff !important;
}

 
.why-choose-us-content .choose-us-icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fc6060;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    transition: 0.4s ease-out;
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose-us-content:hover .choose-us-icon{
    background-color: #000000;
    box-shadow: 0 5px 15px 2px rgba(255, 255, 255, 0.15);
 }

 .section-paddding-80-50{
    padding-top: 80px;
    padding-bottom: 50px;
 }
 
 .team-content-area{
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
 }

 .team-content-area:hover{
    background-color: #fc6060;
}

 .team-content-area .member-thumb{
    margin: 0 auto 40px;
 }
 
.team-content-area .member-thumb img{
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.team-content-area h2{
    font-size: 20px;
    font-weight: 500 !important;
    transition-duration: 500ms;
    margin: 0;
}

.team-content-area span{
    font-size: 12px;
    color: #fc6060;
    transition-duration: 500ms;
    margin: 0;
    text-transform: uppercase;
}

.team-content-area .member-social-info{
    margin-top: 30px;
}

.team-content-area .member-social-info a{
    color: #636363;
    margin: 0 10px;
    font-size: 16px;
    transition-duration: 500ms;
}

.team-content-area:hover .member-thumb img{
    transform: rotate(16deg);
}

.team-content-area:hover h2, 
.team-content-area:hover span,
.team-content-area:hover .member-social-info a{
    color: #fff !important;
    transition: color 0.3s ease-in-out;
}


.section-padding-50{
    padding-top: 50px;
}