.section-padding-110-60{
    padding-top: 100px;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

.services-list .services-list-img img{
    height: 70px;
    width: 70px;
}

.service-us-title-underline{
    width: 70px;
    height: 3px;
    background-color: #fc6060;
    margin-bottom: 30px;
}

.services-title-content .section-title span{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
    font-size: 16px;
}

.services-title-content .section-title h2{
    text-transform: uppercase;
    font-weight: 600;
}

br{
    display: block;
    margin-bottom: 20px; /* Adjust spacing as needed */
}