.footer-content{
    padding: 20px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    flex-direction: row; /* Stack items vertically */
    text-align: center;
}

.copywrite-text p {
    margin: 0 ; 
}

.logo {
    margin: 10px 0; 
}

.social-info a svg {
    margin: 0 10px; 
    font-size: 18px;
    color: #252525;
    transition-duration: 500ms;
}

.social-info a svg:hover {
    color: #fc6060;
}


.logo a {
    color: #252525;
    text-decoration: none;
}